
@import './sprite-flags-24x24.css';
@import "tailwindcss";
@import './quill.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --font-vietnam: 'Be Vietnam', sans-serif;
  --color-border-header: #0000001f;
  --color-black: #141414;
  --color-primary:#2264d1;
  --color-secondary:#C53E91;
  --color-sidebar-bg:#F6F6F6;
  --color-dark-border:#fdfdfd1f;
  --shadow-card:rgba(0, 0, 0, 0.03) 0px 0px 5px 5px ;
  --font-poppins: 'Poppins', sans-serif;
}
:root{
  --ant-color-primary:red !important;
}
.responsive-text{
  @apply text-[12px] xl:text-base
}
.custom-card .ant-card-head{
  border-color: #d1d5db9a;
}
.custom-card.close .ant-card-head,.dark .custom-card.close .ant-card-head{
  border-color:transparent;
}
.custom-card .ant-card-body{
  @apply py-6 transition-all overflow-hidden;
}
.custom-card.close .ant-card-body{
  @apply  p-0 opacity-0;
}
.dark .custom-card .ant-card-head{
  border-color: #d1d5db28;
}
.ant-layout-sider-collapsed .ant-menu-item-group-title {
  display: none;
}

.scroll-hide{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}
/* Modal content box */
.custom-tailwind-modal .ant-modal-content {
  @apply rounded-xl bg-white dark:bg-gray-900 dark:text-white transition-all;
}

/* Modal header */
.custom-tailwind-modal .ant-modal-header {
  @apply bg-white dark:bg-gray-900;
}

/* Modal title text */
.custom-tailwind-modal .ant-modal-title {
  @apply text-lg font-semibold text-gray-800 dark:text-gray-100;
}

/* Modal footer */
.custom-tailwind-modal .ant-modal-footer {
  @apply bg-white dark:bg-gray-900;
}

.custom-tailwind-modal .ant-modal-close {
  @apply text-gray-500 hover:text-black dark:text-gray-300 dark:hover:text-white transition-colors;
}
.notification-base{
  @apply !bg-blue-100 dark:!bg-gray-800 cursor-pointer transition-all duration-300  w-8 h-8 
}
.notification-badge-text{
  @apply text-blue-400 dark:text-blue-400 text-base
}
.ant-menu-item-icon{
  margin-right: 5px !important;
}

.simplebar-scrollbar::before {
  background-color: #004ef5a9; 
}
.dark .simplebar-scrollbar::before {
  background-color: #2265d19d; 
}

.ant-menu-item{
  align-items: center !important;
}
.ant-dropdown-menu-item-active,
.ant-select-item-option-active{
  color: #1e3a8a !important;
  background-color: #e6f0fb !important;
  @apply !text-[#1e3a8a] !bg-[#6366F150]; /* Light theme */
}
.ant-dropdown-menu-item-danger.ant-dropdown-menu-item-active,.dark .ant-dropdown-menu-item-danger.ant-dropdown-menu-item-active{
  @apply !text-white !bg-[#f04f47]; /* Light theme */
}

.ant-select-item-option-selected {
  @apply !text-[#ffffff] !bg-[#7375f3]; /* Light theme */
}

.dark .ant-dropdown-menu-item-active,
.dark .ant-select-item-option-active{
  @apply !text-[#f8fafc] !bg-[#1e3a8a50]; /* Dark theme override */

}
.dark .ant-select-item-option-selected {
  @apply !text-[#f8fafc] !bg-[#1e40af]; /* Dark theme override */
}
.menu-drawer .ant-drawer-body {
  padding: 0px !important;
}
.card-shadow{
  @apply dark:shadow-blue-800/20 shadow-card;
}
.login-Swiper{
  width: 40vw;
  min-width: 450px;
}
.no-padding{
  .ant-card-body{
    padding: 0;
  }
}
.no-header-border{
  .ant-card-head{
    border: none;
  }
}
.form-card{
    border:1px solid #ece4e499;
}
.dark .form-card{
  border:1px solid #f5ecec1f;
}
.field-error{
  @apply text-red-500 absolute -bottom-5 right-0 text-xs;
}
.custom-anchor .ant-anchor-link {
  padding: 8px 12px !important;
  margin: 4px 0;
  border-radius: 0px;
  transition: background-color 0.3s ease;
}

.custom-anchor .ant-anchor::before {
  opacity: 0.3;
}

.custom-anchor .ant-anchor-link-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.custom-anchor .ant-anchor-link:not(.ant-anchor-link-active):hover {
  /* background-color: #f5f7fa; */
}

.custom-anchor .ant-anchor-link-active {
  /* background-color: #e6f4ff; */
}


.custom-anchor .ant-anchor-ink {
  /* display: none !important; */
}

.ant-divider{
  border-block-start: 1px solid #0000001f;
}
.dark .ant-divider{
  border-block-start: 1px solid #d1d1d11f;
}
 .ant-dropdown-menu-submenu-open>.ant-dropdown-menu-submenu-title,.ant-menu-submenu-selected > .ant-menu-submenu-title  {
  @apply dark:bg-[#1e40af66] bg-[#dbeafe] ;
}


#nprogress .bar {
  background: #1e90ff; 
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0 0 10px #1e90ff, 0 0 20px #1e90ff, 0 0 30px #1e90ff;
  transition: all 0.2s ease;
}
.ant-dropdown-menu-item.ant-dropdown-menu-item-selected{
  background:#d5ddff !important;
}
.dark .ant-dropdown-menu-item.ant-dropdown-menu-item-selected{
  background:#1e40af !important;
}

.dark .animate-shine{
  animation: shine 1s ease infinite;
  background:linear-gradient(120deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
}
.animate-shine{
  animation: shine 1s ease infinite;
  background:linear-gradient(120deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 60%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
}
@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
/* Custom scrollbar for ProTable */
.pro-table-customize .ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.pro-table-customize .ant-table-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.pro-table-customize .ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.pro-table-customize .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
}

.pro-table-customize .ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

